.nav {
  position: absolute;
  top: 0%;
  left: 80%;
  display: none;

  &.is-show {
    display: block;
  }
}

.nav-list {
  .nav-anchor {
    &.is-active {
      background-color: #f00;
    }
  }
}

@media screen and (min-width: 1000px) {
  .nav {
    display: block;
  }
}
