doctype html
html.dev
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title dev
    meta(name="robots" content="noindex, nofollow")
  body

    nav
      ul
        li
          a(href="/dev/example-modules.html") modules
        li
          a(href="/canvas/") /canvas/
