
.bg-1 {
  width: 332px;
  height: 200px;
  background: radial-gradient(#8e444b, #5e2833);
  // background-attachment: fixed;
}

.bg-2 {
  width: 332px;
  height: 200px;
  background: linear-gradient(-135deg, rgb(245, 227, 211), rgb(180, 150, 201));
  // background-attachment: fixed;
}
